daemon=no
disable-syslog
disable-packetcache
max-cache-ttl=60
max-negative-ttl=60
local-port=53
udp-truncation-threshold=4096
non-local-bind
allow-from=127.0.0.1/32,10.0.0.0/8,fd00::/112,::1
query-local-address=::,0.0.0.0
setuid=0
dnssec=process-no-validate
local-address=
forward-zones=
# The recursor will try to query the root DNS servers, which may be
# firewalled.  Uncomment the following line to force the recursor
# forward to accessible DNS instead.
#forward-zones-recurse=.=8.8.8.8:53;8.8.4.4:53;
